[SddmGreeterTheme]
Name=sddm-tokyo-night-theme
Description=sddm-tokyo-night-theme
Author=RaduAvramescu
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/RaduAvramescu/sddm-tokyo-night-theme
Screenshot=Previews/preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=sddm-tokyo-night-theme
Theme-API=2.0
QtVersion=6
